# Ignore everything by default
/*

# Root files
!/.gitignore
!/README.md
!/environment.yml

# Model
!/model/
/model/*
!/model/cerebra_epistasis/
!/model/utils/

# Utils: keep selected files
/model/utils/*
!/model/utils/train.py
!/model/utils/__init__.py
!/model/utils/utils_func.py
!/model/utils/metrics.py
!/model/utils/calculate_nbodys_mutation_effect.py

# Data: ignore all datasets
!/data/
/data/*

# Feature: keep selected scripts
!/feature/
/feature/*
!/feature/03_generate_ESMC_ESM3_structure_features.py

# Ignore Python cache
**/__pycache__/
*.pyc